<!-- nodes and parameters for reflex -->
<launch>

	<!-- REFLEX COMMANDER -->
	<!-- this launch create the instance of roscore that we use to communicate -->
	<include file="$(find reflex)/launch/reflex_com.launch"/>

	<!-- LEAP MOTION -->
	<!-- This script publish the frames of leap_motion hand tracking -->
	<node name="leap_motion_skeleton" pkg="leap_motion" type="skeleton_sender.py" respawn="true"/>
	<!-- This script extract the interesting frames and publish the calculated angles on the reflex_commander topic -->
	<node name="tf_to_CommandHand" pkg="leap_motion" type="tf_listener" output="screen" respawn="true"/>

</launch>
